.button {
  display: block;

  text-align: center;
  text-decoration: none;

  background-color: var(--special-color);
  color: var(--text-alt-color);
}

.button--alt-style {
  background-color: var(--bg-accented-main-color);
  color: var(--text-main-color);
}
