.button {
  display: block;

  @include uppercase-heading (14px, 129%);

  text-align: center;
  text-decoration: none;

  background-color: var(--special-color);
  color: var(--text-alt-color);

  &--alt-style {
    background-color: var(--bg-accented-main-color);
    color: var(--text-main-color);
  }
}
