// .catalog__wrapper {}

.catalog__list {
  @include default-list-style;

  display: grid;
  height: min-content;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width) {

  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8.5%;
    row-gap: 2.6em;

    margin: 0 var(--page-padding) 4.8em;
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(5% + 19px);
    row-gap: 4.6em;

    margin: 0 var(--page-padding) 5.6em;
  }
}
