// .catalog__wrapper {}

.catalog__page-heading {
  padding: calc(3% + 0.48em) var(--page-padding) calc(3% + 0.86em);
  margin: 0;
  border-bottom: 1px solid var(--product-card-border);
}

.catalog__list {
  @include default-list-style;

  display: grid;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////


@media (min-width: $tablet-width) {
  .catalog__page-heading {
    padding: 0;
    margin: calc(3% + 0.18em) var(--page-padding) calc(3% + 0.62em);
    border: none;
  }

  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8.5%;
    grid-row-gap: calc(5% - 5.0em);

    margin: 0 var(--page-padding);
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////


@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
