// Переменная вычисляет индивидуальные паддинги составных элементов пунктов списка.
// У самого элемента списка отсутствуют паддинги ввиду нюансов позиционирования
// иконки элемента (её положение должно зависеть от высоты categories__heading)
$categories-internal-padding: calc(10% - 8px);

.categories__wrapper {
  margin: 0 var(--page-padding) 0.7em;

  word-wrap: break-word;
}

.categories__list {
  @include default-list-style;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.categories__item {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 0;
  margin: 0 0 1.42em 0;

  background-color: var(--bg-accented-main-color);
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    left: $categories-internal-padding;
    bottom: 4.1em;

    height: 1px;
    width: calc(100% - #{$categories-internal-padding} * 2);

    background-color: var(--hr-main-color);
  }
}

.categories__heading {
  @include uppercase-heading(24px, 154%);
  position: relative;
  padding: 1.23em 0 1.23em calc(#{$categories-internal-padding} + 2.96em);
  margin: 0;

  &--weight-loss {
    background: url("../img/icon-cat-slim.svg") 9.5% 50% no-repeat;
    background-size: 51px auto;
  }

  &--weight-gain {
    background: url("../img/icon-cat-pro.svg") calc(10% - 8px) 52% no-repeat;
    background-size: 67px auto;
  }

  br {
    display: none;
  }
}

.categories__description {
  max-width: 42em;
  padding: 0 $categories-internal-padding;
  margin: 0 0 2.98em;

  font-family: $text-font-stack;
  font-weight: normal;
  font-size: 14px;
  line-height: 129%;
}

.categories__link {
  @include uppercase-heading(16px);
  display: block;
  width: max-content;

  padding: 0 2.95em 0 $categories-internal-padding;
  margin: 0 0 1.37em;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--heading-main-color);

  background: url("../img/icon-arrow.svg") no-repeat right center;
}

////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////


@media (min-width: $tablet-width + 100px) {
  $categories-internal-padding: calc(20% - 36px);

  .categories__wrapper {
    margin-bottom: calc(5% - 1.62em);
  }

  .categories__item {
    padding: calc(3% + 56px) calc(20% - 89px) 4.1%;
    margin: 0 0 30px 0;

    &::after {
      display: none;
    }

    &--weight-loss {
      background-image: url("../img/icon-cat-slim.svg");
      background-size: calc(9% + 136px) auto;
      background-position: calc(80% + 40px) 50%;

      // .categories__description {
      //   max-width: calc(67% - 30px);
      // }
    }

    &--weight-gain {
      background-image: url("../img/icon-cat-pro.svg");
      background-size: calc(9% + 205px) auto;
      background-position: calc(80% + 60px) 53%;

      // .categories__description {
      //   max-width: calc(70% - 80px);
      // }
    }

    br {
      display: block;
    }
  }

  .categories__heading {
    max-width: 75%;
    padding: 0;
    margin: 0 0 0.68em 0;

    font-size: 36px;
    line-height: 100%;

    background: none;
  }

  .categories__description {
    padding: 0;
    margin-bottom: 3.26em;

    font-size: 16px;
    line-height: 24px;
  }

  .categories__link {
    max-width: 50%;
    padding: 0 57px 0 0;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width + 100) and (max-width: $desktop-width - 1) {
  .categories__item--weight-loss {
    .categories__description {
      max-width: calc(67% - 30px);
    }
  }

  .categories__item--weight-gain {
    .categories__description {
      max-width: calc(70% - 80px);
    }
  }
}
////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////


@media (min-width: $desktop-width) {
  $categories-internal-padding: calc(20% - 62px);

  .categories__wrapper {
    margin-bottom: 1.5em;
  }

  .categories__list {
    flex-direction: row;
  }

  .categories__item {
    $flex-gap: 80px;

    // justify-content: space-between;

    width: calc((100% - #{$flex-gap}) / 2);
    padding: 0;
    margin-bottom: 50px;

    background-image: none;

    &:not(:nth-of-type(2n)) {
      margin-right: $flex-gap;
    }
  }

  .categories__description-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .categories__description {
    max-width: 100%;
    padding: 0 $categories-internal-padding;
    margin: 0 0 1.68em 0;
  }

  .categories__heading {
    max-width: 100%;
    padding: 2.1em $categories-internal-padding 2.05em calc(20% + 100px);
    margin: 0;

    &--weight-loss {
      background: url("../img/icon-cat-slim.svg") calc(20% - 42px) 50% no-repeat;
      background-size: 101px auto;
    }

    &--weight-gain {
      background: url("../img/icon-cat-pro.svg") calc(20% - 53px) 52% no-repeat;
      background-size: 134px auto;
    }
  }

  .categories__link {
    padding: 0 60px 0 $categories-internal-padding;
    margin-bottom: 2.95em;
  }
}
