.contact-us {
  background-color: var(--bg-accented-main-color);
}

.contact-us__wrapper {}

.contact-us__header {}

.contact-us__heading {
  @include uppercase-heading(16px, 112%);

  color: var(--heading-main-color);
}

.contact-us__address {
  font-family: $text-font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contact-us__map-static {}

.contact-us__open-map {}
