.contact-us__wrapper {
  position: relative;
  outline-offset: -2px;
}

.contact-us__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4.8% var(--page-padding) calc(4.8% - 0.2em);
  background: var(--bg-accented-main-color);
}

.contact-us__header--main-page-header {
  background-color: var(--bg-main-color);
}

.contact-us__heading {
  @include uppercase-heading(16px, 125%);

  color: var(--heading-main-color);
}

.contact-us__address {
  padding: 0;
  margin: 0;
  margin-right: 4px;

  width: auto;

  font-family: $text-font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 144%;
}

.contact-us__address-paragraph {
  padding: 0;
  margin: 0;
}

.contact-us__mini-map-container {
  position: relative;

  height: 0;
  padding: calc(20% + 117px) 0;

  overflow: hidden;
}

.contact-us__mini-map {
  position: absolute;

  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  border: none;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width + 80px) {
  .contact-us__header {
    position: relative;
    top: 2px;
    left: 1px;

    padding: 6% calc(var(--page-padding) + 2.85em);
  }

  .contact-us__heading {
    font-size: 20px;
    line-height: 125%;
  }

  .contact-us__address {
    font-size: 16px;
    line-height: 125%;

    text-align: right;
  }

  .contact-us__address-top {
    margin-bottom: 1.25em;
  }

  .contact-us__mini-map-container {
    height: 400px;
    padding: 0;
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////

@media (min-width: $desktop-width - 220px) {
  .contact-us__header {
    position: absolute;
    z-index: 2;
    top: 23.6%;
    left: 7.6%;

    width: calc(14% + 26.3em);
    padding: 3.4em 6.1em 3.1em 5.5em;

    background-color: var(--bg-main-color);
  }

  .contact-us__heading {
    width: max-content;
    outline-offset: 2px;
  }

  .contact-us__address {
    width: max-content;
    text-align: left;
  }
}
