.contact-us {
  margin: 0 var(--page-padding);

  background-color: var(--bg-accented-main-color);
}

// .contact-us__wrapper {}

.contact-us__header {
  display: flex;
  justify-content: space-between;
}

.contact-us__heading {
  @include uppercase-heading(16px, 112%);

  color: var(--heading-main-color);
}

.contact-us__address {
  font-family: $text-font-stack;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

// .contact-us__map-static {}

// .contact-us__open-map {}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////


@media (min-width: $desktop-width) {
  .contact-us__header {
    position: absolute;
  }
}
