// .main-nav {}

.main-nav__wrapper {
  @include uppercase-heading (20px);
  font-weight: 500;

  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-nav .site-list__link {
  display: block;

  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;

  text-align: center;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
  }

  .main-nav__list {
    flex-direction: row;
  }
}
