.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;

  color: var(--heading-main-color);
  background: transparent;
}

.page-header__header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0.88em var(--page-padding);
}

.page-header__mascot-link {
  position: relative;
  top: -2px;

  width: 34px;
  height: 38px;
}

.page-header__mascot-icon {
  width: 100%;
  height: 100%;
}

.page-header__site-logo {
  position: relative;
  left: 2px;
  top: 2px;
}

.page-header__hamburger-toggler {
  // Переменная задаёт размер внутреннего поля для тогглера меню
  // и используется в т.ч. для смещения его в соответствующее макету место
  $toggler-padding: 8px;

  position: relative;
  left: $toggler-padding;

  width: 24px + ($toggler-padding * 2);
  height: 24px + ($toggler-padding * 2);
  padding: 0;
  border: none;

  background: transparent;

  .hamburger-toggler__svg {
    width: 24px;
    height: 24px;
  }
}

.page-header__main-nav {
  width: 100%;
}


////////////////////////////////////
//     Раскладка на планшете      //
////////////////////////////////////

@media (min-width: $tablet-width + 140px) {

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    padding: 2em var(--page-padding);
  }

  .page-header__header-top {
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    padding: 0;
    padding-right: 20px;
  }

  .page-header__mascot-link {
    top: -4px;

    width: 61px;
    height: 51px;
  }

  .page-header__site-logo {
    left: 11px;
    top: 1px;
  }

  .page-header__logo-img {
    width: 102px;
    height: 19px;
  }

  .page-header__main-nav {
    width: auto;
  }

  .page-header__hamburger-toggler {
    display: none;
  }
}

////////////////////////////////////
//     Раскладка на десктопе      //
////////////////////////////////////

@media (min-width: $desktop-width + 80px) {
  .page-header__wrapper {
    padding: 3.9em var(--page-padding) 1.7em;
  }

  .page-header__main-page-wrapper {
    color: var(--text-alt-color);
  }

  .page-header__mascot-link {
    top: -2px;

    width: 70px;
    height: 59px;
  }

  .page-header__site-logo {
    left: 13px;
    top: 3px;
  }

  .page-header__logo-img {
    width: 118px;
    height: 22px;
  }

  .page-header__main-nav {
    max-width: 50%;
  }
}
