.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  background-color: var(--bg-accented-main-color);
}

.page-footer__logo-container {
  border-bottom: 1px solid var(--hr-main-color);
  margin: 0 var(--page-padding);
  padding: calc(3% + 1.1em) 0 calc(3% + 0.55em);
}

.page-footer__logo-link {
  display: block;

  width: min-content;
  padding: 1em 1em 0.7em;
  margin: 0 auto;
}

.page-footer__socials-container {
  padding: 4.2% 0 calc(4% - 0.6em);
  margin: 0 var(--page-padding);
  border-bottom: 1px solid var(--hr-main-color);
}

.page-footer__socials-list {
  @include default-list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  margin: 0 auto;
}

.page-footer__social-list-item {
  width: calc(5% + 2em);
  height: 2.5em;
  margin: 0 calc(8% - 1.14em) 0.63em;
}

.page-footer__copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 var(--page-padding);
  padding: calc(2% + 1.2em) 0;
}

.page-footer__copyright-name {
  display: block;
  position: relative;
  top: -7px;
  left: -1px;

  max-width: 60%;

  font-weight: normal;
  font-size: 16px;
  line-height: 112%;

  text-decoration: none;
  color: var(--text-main-color);
}

.page-footer__copyright-logo {
  position: relative;
  top: -1px;
  left: 17px;

  width: 44px;
  height: 45px;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3.3em var(--page-padding);
    margin: 0;
  }

  .page-footer__logo-container {
    padding: 0;
    margin: 0;

    border-bottom: none;
  }

  .page-footer__logo-link {
    position: relative;
    top: -2px;
    left: -14px;
  }

  .page-footer__socials-container {
    width: 60%;
    padding: 0;
    margin: 0;

    border-bottom: none;
  }

  .page-footer__socials-list {
    position: relative;
    left: 13px;
  }

  .page-footer__copyright-container {
    position: relative;
    top: 3px;
    left: 16px;
    justify-content: end;

    width: min-content;
    min-width: 190px;
    padding: 0;
    margin: 0;
  }

  .page-footer__social-list-item {
    height: 50px;
    width: 50px;

    margin: 0 calc(6% - 1.52em) 0.63em;
  }

  .page-footer__copyright-name {
    position: static;
    margin: 0 1.4em 0.9em 0;
  }

  .page-footer__copyright-logo {
    position: static;
    margin: 0;
  }

  .contact-us__mini-map {
    width: 120px;
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding: 3.3em var(--page-padding);
  }

  .page-footer__socials-container {
    max-width: 40%;
  }

  .page-footer__socials-list {
    left: 13px;
  }

  .page-footer__social-list-item {
    margin: 0 calc(4% - 1.4em) 0.63em;
  }

  .page-footer__copyright-container {
    top: 5px;
  }
}
