* {
  box-sizing: border-box;
}

.page-body {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  max-width: 2200px;
  padding: 0;
  margin: 0 auto;

  font-family: $text-font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}


////////////////////////////////////
//     Раскладка на десктопе      //
////////////////////////////////////

@media (min-width: $desktop-width + 80px) {
  .page-body--main-page {
    // Никому не пожелал бы такое читать, но было слишком поздно отказываться...
    // Это бэкграунд, состоящий из:
    // 1) svg максимальной ширины 2200px; состоит из двух прямоугольников: белого и зелёного
    // 2) картинки 720px, располагающейся с правого края страницы, но не дальше края svg
    background-image: url("../img/index-background-desktop@1x.jpg"), url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='50%25' y='0' width='50%25' height='697' fill='%2365a93c'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: top left unquote('min(100%, calc(50% + 740px))'), top center;
    background-size: 720px auto, unquote('min(100%, 2200px)') auto;
  }

  @media (min-resolution: 2dppx) {
    .page-body--main-page {
      background-image: url("../img/index-background-desktop@2x.jpg"), url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='50%25' y='0' width='50%25' height='697' fill='%2365a93c'/%3E%3C/svg%3E%0A");
    }
  }
}
