* {
  box-sizing: border-box;
}

.page-body {
  display: flex;
  flex-direction: column;

  min-width: 320px;

  font-family: $text-font-stack;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}
