.promo {
  background: var(--special-color) url("../img/index-background-mobile@1x.jpg") no-repeat center top;

  text-align: center;
}

.promo__wrapper {  }

.promo__heading {
  @include uppercase-heading(36px);

  color: var(--text-alt-color);
  text-align: center;
}

.promo__slogan {
  @include uppercase-heading(14px);

  color: var(--text-alt-color);
}

.promo__link {
  text-decoration: none;
}
