.promo__wrapper {
  padding: 27px var(--page-padding) 0 var(--page-padding);

  text-align: center;

  color: var(--text-alt-color);
  background: var(--promo-mobile-bg-color) url("../img/index-background-mobile@1x.jpg") no-repeat center top;
}

// .promo__wrapper {}

.promo__heading {
  padding: 0 15px;
  margin: 0 auto;

  font-family: $heading-font-stack;
  font-size: 36px;
  font-weight: normal;
  line-height: 100%;

  text-align: center;
}

.promo__slogan {
  @include uppercase-heading(14px);
}

// .promo__img {}

.promo__link {
  height: 40px;
  width: 100%;
  padding: 10px 0;

  @include uppercase-heading (14px, 129%);
  text-decoration: none;
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////


@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 810px;
    background: var(--bg-main-color);
    color: var(--text-main-color);
    text-align: left;
  }

  .promo__heading {
    text-align: left;
  }

  .promo__slogan {
    @include uppercase-heading(20px);
  }

  .promo__img {
    position: absolute;
    z-index: -1;
  }

  .promo__link {
    width: 244px;
    height: 54px;
    padding: 16px 0;

    @include uppercase-heading (20px);
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////


@media (min-width: $desktop-width) {
  .promo__wrapper {
    // Здесь располагаются хитрые манипуляции, "подкладывающие" промо-блок под хэдер
    position: relative;
    z-index: -1;
    padding-top: 97px;
    margin-top: -70px;
    // А здесь определяются bg, ради которых это было сделано
    background:
      url("../img/index-background-desktop@1x.jpg") no-repeat top -10px right,
      linear-gradient(to right, var(--bg-main-color) 50%, var(--promo-desktop-bg-color) 50%);
  }
}
