.related-products {}

.related-products__wrapper {}

.related-products__heading {}

.related-products__list {
  @include default-list-style;
}

.related-products__item {
  font-size: 14px;
  line-height: 100%;
}

.related-products__name {
  @include uppercase-heading(16px);

  color: var(--heading-secondary-color);
}

.related-products__quantity {}

.related-products__price {}
