.section-heading {
  font-family: $heading-font-stack;
  font-size: 36px;
  font-weight: normal;
  line-height: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;

  color: var(--heading-main-color);
}

@media (min-width: $tablet-width) {
  .section-heading {
    font-size: 60px;
  }
}
