.section-heading {
  font-family: $heading-font-stack;
  font-size: 36px;
  font-weight: normal;
  line-height: 100%;

  word-wrap: break-word;
  overflow-wrap: break-word;

  color: var(--heading-main-color);
}

.section-heading--catalog {
  padding: calc(3% + 0.48em) var(--page-padding) calc(3% + 0.86em);
  margin: 0;
  border-bottom: 1px solid var(--product-card-border);
}

.section-heading--second-level {
  display: inline-block;
  position: relative;

  padding: 0 0.92em 0 0;

  font-size: 24px;
  line-height: 108%;

  background-color: var(--bg-main-color);

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0.67em;

    height: 2px;
    width: 100vw;
    background-color: var(--special-color);
  }

  &::after {
    left: 100%;
  }
}


////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width) {
  .section-heading {
    font-size: 60px;
  }

  .section-heading--catalog {
    padding: 0;
    margin: calc(3% + 0.18em) var(--page-padding) calc(3% + 0.62em);
    border: none;
  }

  .section-heading--second-level {
    padding: 0;
    margin-left: -0.06em;

    font-size: 36px;

    &::before {
      right: calc(100% + 1.1em);
    }

    &::after {
      left: calc(100% + 1.15em);
    }
  }
}


////////////////////////////////////
//     Раскладка на десктопе     ///
////////////////////////////////////

@media (min-width: $desktop-width - 100px) {
  .section-heading--catalog {
    margin: calc(3% + 0.11em) var(--page-padding) calc(3% + 0.71em);
  }

  .section-heading--second-level {
    margin-left: 0;
  }
}
