.show-more {}

.show-more__heading {
  @include uppercase-heading(16px, 125%);

  text-align: center;
  color: var(--heading-main-color);
}

.show-more__paragraph {
  font-size: 12px;
  line-height: 133%;

  text-align: center;
}

.show-more__button {}
