// .socials-list {}

// .socials-list__item {}

.socials-list__link {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;
}

.socials-list__icon {
  display: block;
  position: absolute;

  width: 60%;
  height: auto;

  top: 15%;
  left: 20%;
}

.socials-list__icon--fb {
  left: calc(50% - 16px);
}

////////////////////////////////////
//     Раскладка на планшете     ///
////////////////////////////////////

@media (min-width: $tablet-width) {
  .socials-list__icon {
    width: 70%;

    top: 15%;
    left: 15%;
  }
}
