.special-offer {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat center top;
}

.special-offer__offer-text {
  font-size: 16px;
  line-height: 125%;

  text-align: center;

  color: var(--text-alt-color);
}
