:root {
  // Глобальные цвета
  --bg-main-color: #ffffff;
  --bg-accented-main-color: #f2f2f2;
  --bg-accented-secondary-color: #eaeaea;

  --border-main-color: #e6e6e6;
  --border-secondary-color: #cdcdcd;

  --box-shadow-main-color: #d2d2d2;

  --error-color: #ff8282;

  --heading-main-color: #000000;
  --heading-secondary-color: #222222;

  --hr-main-color: #d9d9d9;

  --slider-bg-color: #dcdcdc;

  --special-color: #68b738;
  --special-color-hover: #5eaa2f;

  --text-main-color: #444444;
  --text-alt-color: #ffffff;
  --text-alt-color-active: rgba(255, 255, 255, 0.3);

  // Уникальные цвета блоков
  --product-card-border: #ebebeb;

  --promo-mobile-bg-first-color: #65a93c;
  --promo-mobile-bg-second-color: #63a73a;
  --promo-desktop-bg-color: #65a93c;

  --results-border-color: #bababa;


  // Шрифты
  --main-font-family: "Arial";
  --heading-font-family: "Oswald";


  // Внутренние паддинги страницы
  --page-padding: calc(11% - 15px);

  @media (min-width: $tablet-width) {
    --page-padding: max(calc(13% - 70px), 30px);
  }

  @media (min-width: $desktop-width) {
    --page-padding: calc(20% - 178px);
  }
}
