:root {
  --special-color: #68b738;

  --text-main-color: #444444;
  --text-alt-color: #ffffff;

  --heading-main-color: #000000;
  --heading-secondary-color: #222222;

  --bg-main-color: #ffffff;
  --bg-accented-main-color: #f2f2f2;
  --bg-accented-secondary-color: #eaeaea;

  --border-main-color: #f6f6f6;
  --border-secondary-color: #cdcdcd;

  --main-font-family: 'Arial';
  --heading-font-family: 'Oswald';
}
