// Брейкпойнты медиа-среды
$mobile-width: 320px;
$tablet-width: 600px;
$desktop-width: 1200px;

// Шрифты. используемые на странице
$text-font-stack: var(--main-font-family), "Arial", sans-serif;
$heading-font-stack: var(--heading-font-family), "Impact", sans-serif;
